fastapi
fastapi-restful
uvicorn
sqlalchemy
databases
pydantic
pydantic-settings
typing-inspect
psycopg2-binary
redis
python-jose
pyjwt
passlib[bcrypt]
bcrypt==4.0.1
sqlalchemy-utils
loguru
pydantic[email]
python-multipart
pytest
pytest-asyncio
httpx
aio-pika
aiormq
exceptiongroup
multidict
pamqp
propcache
yarl