fastapi
pymongo
motor
grpcio
grpcio-tools
pytesseract
pydantic
pydantic_core
python-multipart
pydantic
pydantic-settings
pydantic_core
httpx
pillow
tenacity
aiobreaker
loguru
sqlalchemy
databases
sqlalchemy-utils
psycopg2-binary
passlib[bcrypt]
uvicorn
httpx-socks
jdatetime
aio-pika
aiormq
exceptiongroup
multidict
pamqp
propcache
yarl